
<div class="listeditPage">
  <div class="container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control listName" %>

    <%= f.label :current_password %> <i>(確認のため、パスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
<div class="text-center"><%= f.submit "編集する", class: "submitBtn" %></div>
  
<% end %>

<%= link_to "Back", :back %>
</div>
</div>