<!DOCTYPE html>
<html>
  <head>
    <title>kanban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# ==========ここから追加する========== %>
    <%= render 'partial/header' %>
    <%# ==========ここまで追加する========== %>

    <%= yield %>
  </body>
</html>
